<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind script loading -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>NFT Data Science</title>
</head>

<body>
    <header class="flex flex-col w-full h-10">
        <h2></h2>
        <ul class="w-30%">
            <li></li>
        </ul>
    </header>
    {% block content %}
    <section class="flex justify-center items-center h-screen w-full">
        <h2>Data is loading. . .</h2>
    </section>
    {% endblock %}
</body>

</html>