<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind script loading -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Solana Report</title>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        grayTea: '#151417',
                        purpleTea: '#3f394a',
                        electricTea: '#8745ff'
                    },
                    fontFamily: {
                        'synco': 'Syncopate'
                    }

                }
            }
        }
    </script>
</head>

<body class="bg-grayTea">
    <header class="flex flex-col w-full h-10">
        <h2>The NFT News</h2>
        <ul class="">
            <li class=""></li>
        </ul>
    </header>
    {% block content %}
    <section class="flex justify-center items-center h-screen w-full">
        <h2>Data is loading. . .</h2>
    </section>
    {% endblock %}
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
</style>

</html>